
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Novo Pokemon</h2>

@using (var form = Html.BeginForm("Save","Pokemon"))
{ 
    @Html.EditorForModel()
    <input type="submit"/>
}

