
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Pokemon</h2>

<table>
    @foreach (var pokemon in Model)
    {
        <tr>
            <td>@pokemon.Nome</td>
            <td>@pokemon.Tipo</td>
            <td>@pokemon.Nivel</td>
        </tr>
    }
</table>

